.swiper-slide .content h2, .swiper-slide .content p {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.27); }

.swiper-slide .content h2 {
  letter-spacing: 1px; }

body #page-header-bg h1 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.27); }

.mb-0 {
  margin-bottom: 0; }

.mt-0 {
  margin-top: 0; }

.video-texture {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0.6) 100%); }

.active_texture {
  background-image: none !important; }

.meta-comment-count {
  display: none !important; }

/* For Blog page */
body .meta-author {
  display: none !important; }

body .meta-category {
  display: none !important; }

body .meta-comment-count {
  display: none !important; }

/* For Blog Single Pages */
body #single-below-header {
  display: none !important; }

/* hide date and love on masonry blog */
body #post-area.masonry article.post .post-meta {
  display: none !important; }

article.post .content-inner {
  border-bottom: none; }

.avatar-post-info {
  display: none !important; }

.container-wrap.huronda-wrap {
  padding-bottom: 0 !important; }

.prev-next-container {
  display: flex;
  width: 100%;
  height: 15rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400; }
  @media (max-width: 768px) {
    .prev-next-container {
      display: block;
      height: auto;
      font-size: 1rem; } }
  .prev-next-container a {
    display: flex;
    flex: 1;
    transition: 0.3s; }
  .prev-next-container .prev, .prev-next-container .next {
    display: flex;
    flex: 1;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    position: relative; }
  .prev-next-container .hover-state {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.4) 100%); }
  .prev-next-container .content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0.6) 100%);
    padding: 2rem;
    transition: 0.3s;
    z-index: 1; }
    .prev-next-container .content:hover .hover-state {
      opacity: 1; }
    .prev-next-container .content h3, .prev-next-container .content a, .prev-next-container .content p {
      color: #fff !important;
      margin: 0;
      padding: 0; }
    .prev-next-container .content h3 {
      margin-bottom: 0.5rem; }
    .prev-next-container .content .text {
      position: absolute;
      bottom: 1.5rem;
      left: 4rem;
      z-index: 2; }

.small-enhanced .excerpt {
  display: none; }

.small-enhanced .columns-1 {
  margin-bottom: 0;
  padding-bottom: 0; }

.about-carousel .carousel-heading {
  display: none; }

.event-details {
  line-height: 1.6;
  font-size: 1rem; }
