
// remove video texture, replace with gradient
.video-texture {
  background-color: transparent;
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,.2)50%,rgba(0,0,0,.2)51%,rgba(0,0,0,.6)100%);
}

.active_texture {
  background-image: none !important;
}

// Disable comments
.meta-comment-count {
  display: none !important;
}

/* For Blog page */
body .meta-author {
  display: none !important;
}
body .meta-category {
  display: none !important;
}
body .meta-comment-count {
  display: none !important;
}
/* For Blog Single Pages */
body #single-below-header {
  display: none !important;
}
/* hide date and love on masonry blog */
body #post-area.masonry article.post .post-meta {
  display: none!important;
}
article.post .content-inner {
  border-bottom: none;
}

// Hide author info
.avatar-post-info {
  display: none !important;
}