body a { color: #49a844; }
	
	#header-outer:not([data-lhe="animated_underline"]) header#top nav > ul > li > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu > li.sfHover > a, header#top nav > ul > li.button_bordered > a:hover, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-item > a,
	header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator i, header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator i,
	#header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_ancestor > a, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current-menu-ancestor > a, #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_item > a,
	body header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator [class^="icon-"], header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"],
    .sf-menu li ul li.sfHover > a .sf-sub-indicator [class^="icon-"], #header-outer:not(.transparent) #social-in-menu a i:after, .testimonial_slider[data-rating-color="accent-color"] .star-rating .filled:before,
	ul.sf-menu > li > a:hover > .sf-sub-indicator i, ul.sf-menu > li > a:active > .sf-sub-indicator i, ul.sf-menu > li.sfHover > a > .sf-sub-indicator i,
	.sf-menu ul li.current_page_item > a , .sf-menu ul li.current-menu-ancestor > a, .sf-menu ul li.current_page_ancestor > a, .sf-menu ul a:focus ,
	.sf-menu ul a:hover, .sf-menu ul a:active, .sf-menu ul li:hover > a, .sf-menu ul li.sfHover > a, .sf-menu li ul li a:hover, .sf-menu li ul li.sfHover > a,
	#footer-outer a:hover, .recent-posts .post-header a:hover, article.post .post-header a:hover, article.result a:hover,  article.post .post-header h2 a, .single article.post .post-meta a:hover,
	.comment-list .comment-meta a:hover, label span, .wpcf7-form p span, .icon-3x[class^="icon-"], .icon-3x[class*=" icon-"], .icon-tiny[class^="icon-"], body .circle-border, article.result .title a, .home .blog-recent:not([data-style="list_featured_first_row"]) .col .post-header a:hover,
	.home .blog-recent .col .post-header h3 a, #single-below-header a:hover, header#top #logo:hover, .sf-menu > li.current_page_ancestor > a > .sf-sub-indicator [class^="icon-"], .sf-menu > li.current-menu-ancestor > a > .sf-sub-indicator [class^="icon-"],
	body #mobile-menu li.open > a [class^="icon-"], .pricing-column h3, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color h4, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color .interval,
	.comment-author a:hover, .project-attrs li i, #footer-outer #copyright li a i:hover, .col:hover > [class^="icon-"].icon-3x.accent-color.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
	#header-outer .widget_shopping_cart .cart_list a, .woocommerce .star-rating, .woocommerce-page table.cart a.remove, .woocommerce form .form-row .required, .woocommerce-page form .form-row .required, body #header-secondary-outer #social a:hover i,
	.woocommerce ul.products li.product .price, body .twitter-share:hover i, .twitter-share.hovered i, body .linkedin-share:hover i, .linkedin-share.hovered i, body .google-plus-share:hover i, .google-plus-share.hovered i, .pinterest-share:hover i, .pinterest-share.hovered i, .facebook-share:hover i, .facebook-share.hovered i, .woocommerce-page ul.products li.product .price, .nectar-milestone .number.accent-color, header#top nav > ul > li.megamenu > ul > li > a:hover, header#top nav > ul > li.megamenu > ul > li.sfHover > a, body #portfolio-nav a:hover i,
	span.accent-color, .nectar-love:hover i, .nectar-love.loved i, .portfolio-items .nectar-love:hover i, .portfolio-items .nectar-love.loved i, body .hovered .nectar-love i, header#top nav ul #search-btn a:hover span, header#top nav ul .slide-out-widget-area-toggle a:hover span, body:not(.material) #search-outer #search #close a span:hover, 
	.carousel-wrap[data-full-width="true"] .carousel-heading a:hover i, #search-outer .ui-widget-content li:hover a .title,  #search-outer .ui-widget-content .ui-state-hover .title,  #search-outer .ui-widget-content .ui-state-focus .title, .portfolio-filters-inline .container ul li a.active,
	body [class^="icon-"].icon-default-style,.single-post #single-below-header.fullscreen-header .icon-salient-heart-2, .svg-icon-holder[data-color="accent-color"], .team-member a.accent-color:hover, .ascend .comment-list .reply a, .wpcf7-form .wpcf7-not-valid-tip, .text_on_hover.product .add_to_cart_button, .blog-recent[data-style="minimal"] .col > span, .blog-recent[data-style="title_only"] .col:hover .post-header .title, .woocommerce-checkout-review-order-table .product-info .amount,
	.tabbed[data-style="minimal"] > ul li a.active-tab, .masonry.classic_enhanced  article.post .post-meta a:hover i, .blog-recent[data-style*="classic_enhanced"] .post-meta a:hover i, .blog-recent[data-style*="classic_enhanced"] .post-meta .icon-salient-heart-2.loved, .masonry.classic_enhanced article.post .post-meta .icon-salient-heart-2.loved, .single #single-meta ul li:not(.meta-share-count):hover i, .single #single-meta ul li:not(.meta-share-count):hover a, .single #single-meta ul li:not(.meta-share-count):hover span, .single #single-meta ul li.meta-share-count .nectar-social a:hover i, #project-meta  #single-meta ul li > a, #project-meta ul li.meta-share-count .nectar-social a:hover i,  #project-meta ul li:not(.meta-share-count):hover i, #project-meta ul li:not(.meta-share-count):hover span,
	div[data-style="minimal"] .toggle:hover h3 a, div[data-style="minimal"] .toggle.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="accent-color"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="accent-color"][data-icon-style="border"] .content h4, body[data-dropdown-style="minimal"] #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, body[data-dropdown-style="minimal"] #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, .post-area.standard-minimal article.post .post-meta .date a,  .post-area.standard-minimal article.post .post-header h2 a:hover, .post-area.standard-minimal  article.post .more-link:hover span,
	 .post-area.standard-minimal article.post .more-link span:after, .post-area.standard-minimal article.post .minimal-post-meta a:hover, body #pagination .page-numbers.prev:hover, body #pagination .page-numbers.next:hover,  html body .woocommerce-pagination a.page-numbers:hover, body .woocommerce-pagination a.page-numbers:hover, body #pagination a.page-numbers:hover, .nectar-slide-in-cart .widget_shopping_cart .cart_list a, .sf-menu ul li.open-submenu > a,
	.woocommerce p.stars a:hover, .woocommerce .material.product .product-wrap .product-add-to-cart a:hover, .woocommerce .material.product .product-wrap .product-add-to-cart a:hover > span, .woocommerce-MyAccount-navigation ul li.is-active a:before, .woocommerce-MyAccount-navigation ul li:hover a:before, .woocommerce.ascend .price_slider_amount button.button[type="submit"], html .ascend.woocommerce #sidebar div ul li a:hover, html .ascend.woocommerce #sidebar div ul li.current-cat > a, .woocommerce .widget_layered_nav ul li.chosen a:after, .woocommerce-page .widget_layered_nav ul li.chosen a:after, [data-style="list_featured_first_row"] .meta-category a,
	body[data-form-submit="see-through"] input[type=submit], body[data-form-submit="see-through"] button[type=submit], #header-outer[data-format="left-header"] .sf-menu .sub-menu .current-menu-item > a, .nectar_icon_wrap[data-color="accent-color"] i, .nectar_team_member_close .inner:before, body[data-dropdown-style="minimal"]:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > ul > li.has-ul > a:hover, body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > ul > li.has-ul > a:hover, .masonry.material .masonry-blog-item .meta-category a, .post-area.featured_img_left .meta-category a,
	body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li.megamenu ul ul li.current-menu-item.has-ul > a, body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li.megamenu ul ul li.current-menu-ancestor.has-ul > a, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="accent-color-underline"].full-width-section a.active, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="accent-color-underline"].full-width-section a:hover,  .material .comment-list .reply a:hover, .related-posts[data-style="material"] .meta-category a,
	 body[data-dropdown-style="minimal"].material:not([data-header-color="custom"]) #header-outer:not([data-format="left-header"]) header#top nav >ul >li:not(.megamenu) ul.cart_list a:hover, body.material #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap .icon-salient-cart,  .material .widget li:not(.has-img) a:hover .post-title, .material #sidebar .widget li:not(.has-img) a:hover .post-title, .material .container-wrap #author-bio #author-info a:hover,
	 .material #sidebar .widget ul[data-style="featured-image-left"] li a:hover .post-title, body.material .tabbed[data-color-scheme="accent-color"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a:hover, body.material .tabbed[data-color-scheme="accent-color"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a.active-tab, body.material .widget:not(.nectar_popular_posts_widget):not(.recent_posts_extra_widget) li a:hover, .material .widget .tagcloud a, .material #sidebar .widget .tagcloud a, .single.material .post-area .content-inner > .post-tags a, .tabbed[data-style*="material"][data-color-scheme="accent-color"] ul li a:not(.active-tab):hover, body.material .nectar-button.see-through.accent-color[data-color-override="false"],
	 div[data-style="minimal_small"] .toggle.accent-color > h3 a:hover, div[data-style="minimal_small"] .toggle.accent-color.open > h3 a, .nectar_single_testimonial[data-color="accent-color"] p span.open-quote
	{	
		color:#49a844!important;
	}
	
	.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.accent-color.alt-style.hovered, body .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
	.ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart {
		color:#49a844!important;
	}
	
	.nectar_icon_wrap .svg-icon-holder[data-color="accent-color"] svg path { stroke:#49a844!important; }
	
	.orbit-wrapper div.slider-nav span.right, .orbit-wrapper div.slider-nav span.left, .flex-direction-nav a, .jp-play-bar,
	.jp-volume-bar-value, .jcarousel-prev:hover, .jcarousel-next:hover, .portfolio-items .col[data-default-color="true"] .work-item:not(.style-3) .work-info-bg, .portfolio-items .col[data-default-color="true"] .bottom-meta, 
	.portfolio-filters a, .portfolio-filters #sort-portfolio, .project-attrs li span, .progress li span, .nectar-progress-bar span,
	#footer-outer #footer-widgets .col .tagcloud a:hover, #sidebar .widget .tagcloud a:hover, article.post .more-link span:hover, #fp-nav.tooltip ul li .fp-tooltip .tooltip-inner,
	article.post.quote .post-content .quote-inner, article.post.link .post-content .link-inner, #pagination .next a:hover, #pagination .prev a:hover, 
	.comment-list .reply a:hover, input[type=submit]:hover, input[type="button"]:hover, #footer-outer #copyright li a.vimeo:hover, #footer-outer #copyright li a.behance:hover,
	.toggle.open h3 a, .tabbed > ul li a.active-tab, [class*=" icon-"], .icon-normal, .bar_graph li span, .nectar-button[data-color-override="false"].regular-button, .nectar-button.tilt.accent-color, body .swiper-slide .button.transparent_2 a.primary-color:hover, #footer-outer #footer-widgets .col input[type="submit"],
	.carousel-prev:hover, .carousel-next:hover, body .products-carousel .carousel-next:hover, body .products-carousel .carousel-prev:hover, .blog-recent .more-link span:hover, .post-tags a:hover, .pricing-column.highlight h3, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight h3 .highlight-reason, .pricing-table[data-style="flat-alternative"] .pricing-column.accent-color:before, #to-top:hover, #to-top.dark:hover, body[data-button-style*="rounded"] #to-top:after, #pagination a.page-numbers:hover,
	#pagination span.page-numbers.current, .single-portfolio .facebook-share a:hover, .single-portfolio .twitter-share a:hover, .single-portfolio .pinterest-share a:hover,  
	.single-post .facebook-share a:hover, .single-post .twitter-share a:hover, .single-post .pinterest-share a:hover, .mejs-controls .mejs-time-rail .mejs-time-current,
	.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
	article.post.quote .post-content .quote-inner, article.post.link .post-content .link-inner, article.format-status .post-content .status-inner, article.post.format-aside .aside-inner, 
	body #header-secondary-outer #social li a.behance:hover, body #header-secondary-outer #social li a.vimeo:hover, #sidebar .widget:hover [class^="icon-"].icon-3x, .woocommerce-page button.single_add_to_cart_button,
	article.post.quote .content-inner .quote-inner .whole-link, .masonry.classic_enhanced article.post.quote.wide_tall .post-content a:hover .quote-inner, .masonry.classic_enhanced article.post.link.wide_tall .post-content a:hover .link-inner, .iosSlider .prev_slide:hover, .iosSlider .next_slide:hover, body [class^="icon-"].icon-3x.alt-style.accent-color, body [class*=" icon-"].icon-3x.alt-style.accent-color, #slide-out-widget-area, #slide-out-widget-area-bg.fullscreen, #slide-out-widget-area-bg.fullscreen-alt .bg-inner,
	#header-outer .widget_shopping_cart a.button, body[data-button-style="rounded"] .wpb_wrapper .twitter-share:before, body[data-button-style="rounded"] .wpb_wrapper .twitter-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .nectar-social:hover > *:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share.hovered:before,  #header-outer a.cart-contents .cart-wrap span, #header-outer a#mobile-cart-link .cart-wrap span, .swiper-slide .button.solid_color a, .swiper-slide .button.solid_color_2 a, .portfolio-filters, button[type=submit]:hover, #buddypress button:hover, #buddypress a.button:hover, #buddypress ul.button-nav li.current a, 
	header#top nav ul .slide-out-widget-area-toggle a:hover i.lines, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after, header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before, header#top nav ul .slide-out-widget-area-toggle[data-icon-animation="simple-transform"] a:hover i.lines-button:after,  #buddypress a.button:focus, .text_on_hover.product a.added_to_cart, .woocommerce div.product .woocommerce-tabs .full-width-content ul.tabs li a:after, 
    .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.minus, .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.plus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce .span_4 input[type="submit"].checkout-button,
    .portfolio-filters-inline[data-color-scheme="accent-color"], body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:after, .select2-container .select2-choice:hover, .select2-dropdown-open .select2-choice,
    header#top nav > ul > li.button_solid_color > a:before, #header-outer.transparent header#top nav > ul > li.button_solid_color > a:before, .tabbed[data-style*="minimal"] > ul li a:after, .twentytwenty-handle, .twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after, .masonry.classic_enhanced .posts-container article .meta-category a:hover, .blog-recent[data-style*="classic_enhanced"] .meta-category a:hover, .masonry.classic_enhanced .posts-container article .video-play-button, .bottom_controls #portfolio-nav .controls li a i:after, .bottom_controls #portfolio-nav ul:first-child li#all-items a:hover i, .nectar_video_lightbox.nectar-button[data-color="default-accent-color"],  .nectar_video_lightbox.nectar-button[data-color="transparent-accent-color"]:hover,
    .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote.is-selected p, .nectar-recent-posts-slider .container .strong span:before, #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a:hover,
    .single .heading-title[data-header-style="default_minimal"] .meta-category a:hover, body.single-post .sharing-default-minimal .nectar-love.loved, .nectar-fancy-box:after, .divider-small-border[data-color="accent-color"], .divider-border[data-color="accent-color"], div[data-style="minimal"] .toggle.open h3 i:after, div[data-style="minimal"] .toggle:hover h3 i:after, div[data-style="minimal"] .toggle.open h3 i:before, div[data-style="minimal"] .toggle:hover h3 i:before,
    .nectar-animated-title[data-color="accent-color"] .nectar-animated-title-inner:after, #fp-nav:not(.light-controls).tooltip_alt ul li a span:after, #fp-nav.tooltip_alt ul li a span:after, .nectar-video-box[data-color="default-accent-color"] a.nectar_video_lightbox,  body .nectar-video-box[data-color="default-accent-color"][data-hover="zoom_button"] a.nectar_video_lightbox:after, .span_12.dark .owl-theme .owl-dots .owl-dot.active span, .span_12.dark .owl-theme .owl-dots .owl-dot:hover span, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="accent-color"] .nectar_hotspot, .nectar_image_with_hotspots .nectar_hotspot_wrap .nttip .tipclose span:before, .nectar_image_with_hotspots .nectar_hotspot_wrap .nttip .tipclose span:after,
    .portfolio-filters-inline[data-color-scheme="accent-color-underline"] a:after, body[data-dropdown-style="minimal"] #header-outer header#top nav > ul > li:not(.megamenu) ul a:hover, body[data-dropdown-style="minimal"] #header-outer header#top nav > ul > li:not(.megamenu) li.sfHover > a, body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li:not(.megamenu) li.sfHover > a, body[data-dropdown-style="minimal"] header#top nav > ul > li.megamenu > ul ul li a:hover, body[data-dropdown-style="minimal"] header#top nav > ul > li.megamenu > ul ul li.sfHover > a, body[data-dropdown-style="minimal"]:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul ul li.current-menu-item > a, body[data-dropdown-style="minimal"] #header-outer .widget_shopping_cart a.button, body[data-dropdown-style="minimal"] #header-secondary-outer ul > li:not(.megamenu) li.sfHover > a, body[data-dropdown-style="minimal"] #header-secondary-outer ul > li:not(.megamenu) ul a:hover, .nectar-recent-posts-single_featured .strong a, 
     .post-area.standard-minimal article.post .more-link span:before, .nectar-slide-in-cart .widget_shopping_cart a.button, body[data-header-format="left-header"] #header-outer[data-lhe="animated_underline"] header#top nav ul li:not([class*="button_"]) > a span:after, .woocommerce .material.product .add_to_cart_button,
     body nav.woocommerce-pagination span.page-numbers.current, body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li:not(.megamenu) ul a:hover, body[data-form-submit="regular"] input[type=submit], body[data-form-submit="regular"] button[type=submit],
     body[data-form-submit="see-through"] input[type=submit]:hover, body[data-form-submit="see-through"] button[type=submit]:hover, body[data-form-submit="see-through"] .container-wrap .span_12.light input[type=submit]:hover, body[data-form-submit="see-through"] .container-wrap .span_12.light button[type=submit]:hover, body[data-form-submit="regular"] .container-wrap .span_12.light input[type=submit]:hover, body[data-form-submit="regular"] .container-wrap .span_12.light button[type=submit]:hover, .masonry.material .masonry-blog-item .meta-category a:before, .related-posts[data-style="material"] .meta-category a:before, .post-area.featured_img_left .meta-category a:before, .material.masonry .masonry-blog-item .video-play-button, 
     .nectar_icon_wrap[data-style="border-animation"][data-color="accent-color"]:not([data-draw="true"]) .nectar_icon:hover, body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li:not(.megamenu) ul li.current-menu-item > a, body[data-dropdown-style="minimal"] #header-outer:not([data-format="left-header"]) header#top nav > ul > li:not(.megamenu) ul li.current-menu-ancestor > a, .nectar-social-sharing-fixed > a:before, .nectar-social-sharing-fixed .nectar-social a, body.material #page-header-bg.fullscreen-header .inner-wrap >a, .masonry.material .quote-inner:before, .masonry.material .link-inner:before,
     .tabbed[data-style="minimal_alt"] .magic-line, .nectar-google-map[data-nectar-marker-color="accent-color"] .animated-dot .middle-dot, .nectar-google-map[data-nectar-marker-color="accent-color"] .animated-dot div[class*="signal"], .nectar_video_lightbox.play_button_with_text[data-color="default-accent-color"] span.play > .inner-wrap:before, .nectar-hor-list-item[data-color="accent-color"]:before, body.material #slide-out-widget-area-bg.slide-out-from-right, .widget  .material .widget .tagcloud a:before, .material #sidebar .widget .tagcloud a:before, .single .post-area .content-inner > .post-tags a:before, .auto_meta_overlaid_spaced article.post.quote .n-post-bg:after, .auto_meta_overlaid_spaced article.post.link .n-post-bg:after,
		 .post-area.featured_img_left .posts-container .article-content-wrap  .video-play-button, .post-area.featured_img_left article.post .quote-inner:before, .post-area.featured_img_left .link-inner:before, .nectar-recent-posts-single_featured.multiple_featured .controls li:after,
		 .nectar-recent-posts-single_featured.multiple_featured .controls li.active:before, [data-style="list_featured_first_row"] .meta-category a:before,
		 .tabbed[data-style*="material"][data-color-scheme="accent-color"] ul:after, .nectar-fancy-box[data-color="accent-color"]:not([data-style="default"]) .box-bg:after, div[data-style="minimal_small"] .toggle.accent-color > h3:after,
		 body.material[data-button-style^="rounded"] .nectar-button.see-through.accent-color[data-color-override="false"] i, .portfolio-items .col.nectar-new-item .inner-wrap:before, body.material .nectar-video-box[data-color="default-accent-color"] a.nectar_video_lightbox:before,
		 .nectar_team_member_overlay .team_member_details .bio-inner .mobile-close:before, .nectar_team_member_overlay .team_member_details .bio-inner .mobile-close:after, .fancybox-navigation button:hover:before 
	{
		background-color:#49a844!important;
	}
	
	.col:hover > [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered, .col:hover > [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered, body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
	.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered, .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered {
		background-color:#49a844!important;
	}
	
	body.material[data-button-style^="rounded"] .nectar-button.see-through.accent-color[data-color-override="false"] i:after { box-shadow: #49a844 0px 8px 15px; opacity: 0.24; }
	
  .nectar-fancy-box[data-style="color_box_hover"][data-color="accent-color"]:hover:before { box-shadow: 0 30px 90px #49a844; } 
	
	.tabbed[data-style*="material"][data-color-scheme="accent-color"] ul li a.active-tab:after {  box-shadow: 0px 18px 50px  #49a844; }
	
	.bottom_controls #portfolio-nav ul:first-child  li#all-items a:hover i { box-shadow: -.6em 0 #49a844, -.6em .6em #49a844, .6em 0 #49a844, .6em -.6em #49a844, 0 -.6em #49a844, -.6em -.6em #49a844, 0 .6em #49a844, .6em .6em #49a844;  }
	
	.tabbed > ul li a.active-tab, body[data-form-style="minimal"] label:after, body .recent_projects_widget a:hover img, .recent_projects_widget a:hover img, #sidebar #flickr a:hover img, body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
	#footer-outer #flickr a:hover img, body[data-button-style="rounded"] .wpb_wrapper .twitter-share:before, body[data-button-style="rounded"] .wpb_wrapper .twitter-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share:before, body[data-button-style="rounded"] .wpb_wrapper .facebook-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share:before, body[data-button-style="rounded"] .wpb_wrapper .google-plus-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .nectar-social:hover > *:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share:before, body[data-button-style="rounded"] .wpb_wrapper .pinterest-share.hovered:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share:before, body[data-button-style="rounded"] .wpb_wrapper .linkedin-share.hovered:before,  #featured article .post-title a:hover, #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a:after, body #featured article .post-title a:hover, div.wpcf7-validation-errors, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:before, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label:after, body[data-fancy-form-rcs="1"] input[type="checkbox"]:checked + label > span, .select2-container .select2-choice:hover, .select2-dropdown-open .select2-choice,
	#header-outer:not(.transparent) header#top nav > ul > li.button_bordered > a:hover:before, .single #single-meta ul li:not(.meta-share-count):hover a, .single #project-meta ul li:not(.meta-share-count):hover a, div[data-style="minimal"] .toggle.default.open i, div[data-style="minimal"] .toggle.default:hover i, div[data-style="minimal"] .toggle.accent-color.open i, div[data-style="minimal"] .toggle.accent-color:hover i,
	.nectar_image_with_hotspots .nectar_hotspot_wrap .nttip .tipclose, body[data-button-style="rounded"] #pagination > a:hover, body[data-form-submit="see-through"] input[type=submit], body[data-form-submit="see-through"] button[type=submit], .nectar_icon_wrap[data-style="border-basic"][data-color="accent-color"] .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="accent-color"]:not([data-draw="true"]) .nectar_icon,
	.nectar_icon_wrap[data-style="border-animation"][data-color="accent-color"][data-draw="true"]:hover .nectar_icon, .span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="default-accent-color"] span.play:before, .span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="default-accent-color"] span.play:after, .material #header-secondary-outer[data-lhe="animated_underline"] nav >ul.sf-menu >li >a:after, .material blockquote::before,
	body.material .nectar-button.see-through.accent-color[data-color-override="false"] {
		border-color:#49a844!important;
	}

	#fp-nav:not(.light-controls).tooltip_alt ul li a.active span, #fp-nav.tooltip_alt ul li a.active span { box-shadow: inset 0 0 0 2px #49a844; -webkit-box-shadow: inset 0 0 0 2px #49a844; }
 
	.default-loading-icon:before { border-top-color:#49a844!important; }

	#header-outer a.cart-contents span:before, #fp-nav.tooltip ul li .fp-tooltip .tooltip-inner:after { border-color: transparent #49a844!important; }
	
	body .col:not(.post-area):not(.span_12):not(#sidebar):hover .hovered .circle-border, body #sidebar .widget:hover .circle-border, body .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote .bottom-arrow:after, body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="accent-color"] blockquote .bottom-arrow:after, .portfolio-items[data-ps="6"] .bg-overlay, .portfolio-items[data-ps="6"].no-masonry .bg-overlay,
	.nectar_team_member_close .inner, .nectar_team_member_overlay .team_member_details .bio-inner .mobile-close { border-color:#49a844; }

	.widget .nectar_widget[class*="nectar_blog_posts_"] .arrow-circle svg circle { stroke: #49a844; }

	.gallery a:hover img { border-color:#49a844!important; }@media only screen 
		and (min-width : 1px) and (max-width : 1000px) {
			
			body #featured article .post-title > a { background-color:#49a844; }
			
			body #featured article .post-title > a { border-color:#49a844; }
		}
		
		.nectar-button.regular-button.extra-color-1, .nectar-button.tilt.extra-color-1 { background-color: #ff1053!important; }
		
		.icon-3x[class^="icon-"].extra-color-1:not(.alt-style), .icon-tiny[class^="icon-"].extra-color-1, .icon-3x[class*=" icon-"].extra-color-1:not(.alt-style) , body .icon-3x[class*=" icon-"].extra-color-1:not(.alt-style)  .circle-border, .woocommerce-page table.cart a.remove, #header-outer .widget_shopping_cart .cart_list li a.remove,  #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, .nectar-milestone .number.extra-color-1, span.extra-color-1,
		.team-member ul.social.extra-color-1 li a, .stock.out-of-stock, body [class^="icon-"].icon-default-style.extra-color-1, body [class^="icon-"].icon-default-style[data-color="extra-color-1"], .team-member a.extra-color-1:hover, 
		.pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-1 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1 .interval,
		.svg-icon-holder[data-color="extra-color-1"], div[data-style="minimal"] .toggle.extra-color-1:hover h3 a, div[data-style="minimal"] .toggle.extra-color-1.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-1"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="extra-color-1"][data-icon-style="border"] .content h4,
		 .nectar_icon_wrap[data-color="extra-color-1"] i, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="extra-color-1-underline"].full-width-section a.active, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="extra-color-1-underline"].full-width-section a:hover, .testimonial_slider[data-rating-color="extra-color-1"] .star-rating .filled:before,
		 header#top nav > ul > li.button_bordered_2 > a:hover, body.material .tabbed[data-color-scheme="extra-color-1"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a:hover, body.material .tabbed[data-color-scheme="extra-color-1"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a.active-tab, .tabbed[data-style*="material"][data-color-scheme="extra-color-1"] ul li a:not(.active-tab):hover,
		 body.material .nectar-button.see-through.extra-color-1[data-color-override="false"], div[data-style="minimal_small"] .toggle.extra-color-1 > h3 a:hover, div[data-style="minimal_small"] .toggle.extra-color-1.open > h3 a,
		 .nectar_single_testimonial[data-color="extra-color-1"] p span.open-quote {
			color: #ff1053!important;
		}
		
		.col:hover > [class^="icon-"].icon-3x.extra-color-1:not(.alt-style), .col:hover > [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-1:hover,
		body .col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, body .col:not(.post-area):not(#sidebar):not(.span_12):hover a [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style),
		.portfolio-filters-inline[data-color-scheme="extra-color-1"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-1:before, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-1 h3 .highlight-reason, .nectar-button.nectar_video_lightbox[data-color="default-extra-color-1"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-1"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-1"]:after, .divider-small-border[data-color="extra-color-1"], .divider-border[data-color="extra-color-1"], div[data-style="minimal"] .toggle.extra-color-1.open i:after, div[data-style="minimal"] .toggle.extra-color-1:hover i:after, div[data-style="minimal"] .toggle.open.extra-color-1 i:before, div[data-style="minimal"] .toggle.extra-color-1:hover i:before, body .tabbed[data-color-scheme="extra-color-1"][data-style="minimal"] > ul li:not(.cta-button) a:after,
		.nectar-animated-title[data-color="extra-color-1"] .nectar-animated-title-inner:after, .nectar-video-box[data-color="extra-color-1"] a.nectar_video_lightbox,  body .nectar-video-box[data-color="extra-color-1"][data-hover="zoom_button"] a.nectar_video_lightbox:after, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="extra-color-1"] .nectar_hotspot, .portfolio-filters-inline[data-color-scheme="extra-color-1-underline"] a:after, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-1"]:not([data-draw="true"]) .nectar_icon:hover,  .nectar-google-map[data-nectar-marker-color="extra-color-1"] .animated-dot .middle-dot, .nectar-google-map[data-nectar-marker-color="extra-color-1"] .animated-dot div[class*="signal"], .nectar_video_lightbox.play_button_with_text[data-color="extra-color-1"] span.play > .inner-wrap:before,
		.nectar-hor-list-item[data-color="extra-color-1"]:before, header#top nav > ul > li.button_solid_color_2 > a:before, #header-outer.transparent header#top nav > ul > li.button_solid_color_2 > a:before, body[data-slide-out-widget-area-style="slide-out-from-right"]:not([data-header-color="custom"]).material a.slide_out_area_close:before,
		.tabbed[data-color-scheme="extra-color-1"][data-style="minimal_alt"] .magic-line, .tabbed[data-color-scheme="extra-color-1"][data-style="default"] li:not(.cta-button) a.active-tab, .tabbed[data-style*="material"][data-color-scheme="extra-color-1"] ul:after, .tabbed[data-style*="material"][data-color-scheme="extra-color-1"] ul li a.active-tab,
		.nectar-fancy-box[data-color="extra-color-1"]:not([data-style="default"]) .box-bg:after, body.material[data-button-style^="rounded"] .nectar-button.see-through.extra-color-1[data-color-override="false"] i,
		.nectar-recent-posts-single_featured.multiple_featured .controls[data-color="extra-color-1"] li:after, body.material .nectar-video-box[data-color="extra-color-1"] a.nectar_video_lightbox:before,
		 div[data-style="minimal_small"] .toggle.extra-color-1 > h3:after
		{
			background-color: #ff1053!important;
		}
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-1, body [class*=" icon-"].icon-3x.alt-style.extra-color-1, [class*=" icon-"].extra-color-1.icon-normal, .extra-color-1.icon-normal, .bar_graph li span.extra-color-1, .nectar-progress-bar span.extra-color-1, #header-outer .widget_shopping_cart a.button, .woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale, .woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce-page table.cart a.remove:hover, .swiper-slide .button.solid_color a.extra-color-1, .swiper-slide .button.solid_color_2 a.extra-color-1, .toggle.open.extra-color-1 h3 a {
			background-color: #ff1053!important;
		}
		
		.col:hover > [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered, .no-highlight.extra-color-1 h3,
		.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered, body .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered {
			color: #ff1053!important;
		}
		
		.nectar_icon_wrap .svg-icon-holder[data-color="extra-color-1"] svg path { stroke:#ff1053!important; }
		
		body.material[data-button-style^="rounded"] .nectar-button.see-through.extra-color-1[data-color-override="false"] i:after { box-shadow: #ff1053 0px 8px 15px; opacity: 0.24; }
		
		.tabbed[data-style*="material"][data-color-scheme="extra-color-1"] ul li a.active-tab:after {  box-shadow: 0px 18px 50px  #ff1053; }
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-1"]:hover:before { box-shadow: 0 30px 90px #ff1053; } 
		
		body .col:not(.post-area):not(.span_12):not(#sidebar):hover .extra-color-1.hovered .circle-border, .woocommerce-page table.cart a.remove, #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, #header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove, body #sidebar .widget:hover .extra-color-1 .circle-border, .woocommerce-page table.cart a.remove,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-1"] blockquote .bottom-arrow:after, div[data-style="minimal"] .toggle.open.extra-color-1 i, div[data-style="minimal"] .toggle.extra-color-1:hover i,
		.nectar_icon_wrap[data-style="border-basic"][data-color="extra-color-1"] .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-1"]:not([data-draw="true"]) .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-1"][data-draw="true"]:hover .nectar_icon,
		.span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="extra-color-1"] span.play:before, .span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="extra-color-1"] span.play:after,
		#header-outer:not(.transparent) header#top nav > ul > li.button_bordered_2 > a:hover:before { border-color:#ff1053; }
		
		.tabbed[data-color-scheme="extra-color-1"][data-style="default"] li:not(.cta-button) a.active-tab,  body.material .nectar-button.see-through.extra-color-1[data-color-override="false"] { border-color:#ff1053!important; }
		
		.pricing-column.highlight.extra-color-1 h3 { background-color:#ff1053!important; }
		
		
		
		.nectar-button.regular-button.extra-color-2, .nectar-button.tilt.extra-color-2 { background-color: #2AC4EA!important; }
			
		.icon-3x[class^="icon-"].extra-color-2:not(.alt-style), .icon-3x[class*=" icon-"].extra-color-2:not(.alt-style), .icon-tiny[class^="icon-"].extra-color-2, body .icon-3x[class*=" icon-"].extra-color-2  .circle-border, .nectar-milestone .number.extra-color-2, span.extra-color-2, .team-member ul.social.extra-color-2 li a, body [class^="icon-"].icon-default-style.extra-color-2, body [class^="icon-"].icon-default-style[data-color="extra-color-2"], .team-member a.extra-color-2:hover,
		.pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-2 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2 .interval,
		.svg-icon-holder[data-color="extra-color-2"], div[data-style="minimal"] .toggle.extra-color-2:hover h3 a, div[data-style="minimal"] .toggle.extra-color-2.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-2"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="extra-color-2"][data-icon-style="border"] .content h4,
		.nectar_icon_wrap[data-color="extra-color-2"] i, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="extra-color-2-underline"].full-width-section a.active, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="extra-color-2-underline"].full-width-section a:hover, .testimonial_slider[data-rating-color="extra-color-2"] .star-rating .filled:before,
		body.material .tabbed[data-color-scheme="extra-color-2"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a:hover, body.material .tabbed[data-color-scheme="extra-color-2"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a.active-tab, .tabbed[data-style*="material"][data-color-scheme="extra-color-2"] ul li a:not(.active-tab):hover,
		body.material .nectar-button.see-through.extra-color-2[data-color-override="false"], div[data-style="minimal_small"] .toggle.extra-color-2 > h3 a:hover, div[data-style="minimal_small"] .toggle.extra-color-2.open > h3 a,
		.nectar_single_testimonial[data-color="extra-color-2"] p span.open-quote {
			color: #2AC4EA!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-2:hover, 
		.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style), .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-2 h3 .highlight-reason,  .nectar-button.nectar_video_lightbox[data-color="default-extra-color-2"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-2"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-2"]:after, .divider-small-border[data-color="extra-color-2"], .divider-border[data-color="extra-color-2"], div[data-style="minimal"] .toggle.extra-color-2.open i:after, div[data-style="minimal"] .toggle.extra-color-2:hover i:after, div[data-style="minimal"] .toggle.open.extra-color-2 i:before, div[data-style="minimal"] .toggle.extra-color-2:hover i:before, body .tabbed[data-color-scheme="extra-color-2"][data-style="minimal"] > ul li:not(.cta-button) a:after,
		.nectar-animated-title[data-color="extra-color-2"] .nectar-animated-title-inner:after, .nectar-video-box[data-color="extra-color-2"] a.nectar_video_lightbox, body .nectar-video-box[data-color="extra-color-2"][data-hover="zoom_button"] a.nectar_video_lightbox:after, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="extra-color-2"] .nectar_hotspot, .portfolio-filters-inline[data-color-scheme="extra-color-2-underline"] a:after, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-2"]:not([data-draw="true"]) .nectar_icon:hover, .nectar-google-map[data-nectar-marker-color="extra-color-2"] .animated-dot .middle-dot, .nectar-google-map[data-nectar-marker-color="extra-color-2"] .animated-dot div[class*="signal"], .nectar_video_lightbox.play_button_with_text[data-color="extra-color-2"] span.play > .inner-wrap:before,
		.nectar-hor-list-item[data-color="extra-color-2"]:before, .tabbed[data-color-scheme="extra-color-2"][data-style="minimal_alt"] .magic-line, .tabbed[data-style*="material"][data-color-scheme="extra-color-2"] ul:after, .tabbed[data-style*="material"][data-color-scheme="extra-color-2"] ul li a.active-tab,
		.nectar-fancy-box[data-color="extra-color-2"]:not([data-style="default"]) .box-bg:after, body.material[data-button-style^="rounded"] .nectar-button.see-through.extra-color-2[data-color-override="false"] i,
		.nectar-recent-posts-single_featured.multiple_featured .controls[data-color="extra-color-2"] li:after, body.material .nectar-video-box[data-color="extra-color-2"] a.nectar_video_lightbox:before,
		div[data-style="minimal_small"] .toggle.extra-color-2 > h3:after
		{
			background-color: #2AC4EA!important;
		}
	
		.nectar_icon_wrap .svg-icon-holder[data-color="extra-color-2"] svg path { stroke:#2AC4EA!important; }
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-2, body [class*=" icon-"].icon-3x.alt-style.extra-color-2, [class*=" icon-"].extra-color-2.icon-normal, .extra-color-2.icon-normal, .bar_graph li span.extra-color-2, .nectar-progress-bar span.extra-color-2, .woocommerce .product-wrap .add_to_cart_button.added, .woocommerce-message, .woocommerce-error, .woocommerce-info, 
		.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .swiper-slide .button.solid_color a.extra-color-2, .swiper-slide .button.solid_color_2 a.extra-color-2, .toggle.open.extra-color-2 h3 a,
		.portfolio-filters-inline[data-color-scheme="extra-color-2"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-2:before {
			background-color: #2AC4EA!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered, .no-highlight.extra-color-2 h3, 
		.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered, body .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered {
			color: #2AC4EA!important;
		}
		
		body.material[data-button-style^="rounded"] .nectar-button.see-through.extra-color-2[data-color-override="false"] i:after { box-shadow: #2AC4EA 0px 8px 15px; opacity: 0.24; }
		
		.tabbed[data-style*="material"][data-color-scheme="extra-color-2"] ul li a.active-tab:after {  box-shadow: 0px 18px 50px  #2AC4EA; }
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-2"]:hover:before { box-shadow: 0 30px 90px #2AC4EA; } 
		
		body .col:not(.post-area):not(.span_12):not(#sidebar):hover .extra-color-2.hovered .circle-border, body #sidebar .widget:hover .extra-color-2 .circle-border,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-2"] blockquote .bottom-arrow:after, div[data-style="minimal"] .toggle.open.extra-color-2 i, div[data-style="minimal"] .toggle.extra-color-2:hover i,
		.nectar_icon_wrap[data-style="border-basic"][data-color="extra-color-2"] .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-2"]:not([data-draw="true"]) .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-2"][data-draw="true"]:hover .nectar_icon,
		.span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="extra-color-2"] span.play:before, .span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="extra-color-2"] span.play:after { border-color:#2AC4EA; }
		
		.pricing-column.highlight.extra-color-2 h3 { background-color:#2AC4EA!important; }
		.tabbed[data-color-scheme="extra-color-2"][data-style="default"] li:not(.cta-button) a.active-tab, body.material .nectar-button.see-through.extra-color-2[data-color-override="false"] { border-color:#2AC4EA!important; }
		
		
		.nectar-button.regular-button.extra-color-3, .nectar-button.tilt.extra-color-3 { background-color: #333333!important; }
			
	    .icon-3x[class^="icon-"].extra-color-3:not(.alt-style) , .icon-3x[class*=" icon-"].extra-color-3:not(.alt-style) , .icon-tiny[class^="icon-"].extra-color-3, body .icon-3x[class*=" icon-"].extra-color-3  .circle-border, .nectar-milestone .number.extra-color-3, span.extra-color-3, .team-member ul.social.extra-color-3 li a, body [class^="icon-"].icon-default-style.extra-color-3, body [class^="icon-"].icon-default-style[data-color="extra-color-3"], .team-member a.extra-color-3:hover,
	    .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-3 h3, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3 h4, .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3 .interval,
	    .svg-icon-holder[data-color="extra-color-3"], div[data-style="minimal"] .toggle.extra-color-3:hover h3 a, div[data-style="minimal"] .toggle.extra-color-3.open h3 a, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-3"] .list-icon-holder[data-icon_type="numerical"] span, .nectar-icon-list[data-icon-color="extra-color-3"][data-icon-style="border"] .content h4,
	    .nectar_icon_wrap[data-color="extra-color-3"] i, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="extra-color-3-underline"].full-width-section a.active, body .wpb_row .span_12 .portfolio-filters-inline[data-color-scheme="extra-color-3-underline"].full-width-section a:hover, .testimonial_slider[data-rating-color="extra-color-3"] .star-rating .filled:before,
			body.material .tabbed[data-color-scheme="extra-color-3"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a:hover, body.material .tabbed[data-color-scheme="extra-color-3"][data-style="minimal"]:not(.using-icons) >ul li:not(.cta-button) a.active-tab, .tabbed[data-style*="material"][data-color-scheme="extra-color-3"] ul li a:not(.active-tab):hover,
			body.material .nectar-button.see-through.extra-color-3[data-color-override="false"], div[data-style="minimal_small"] .toggle.extra-color-3 > h3 a:hover, div[data-style="minimal_small"] .toggle.extra-color-3.open > h3 a,
			.nectar_single_testimonial[data-color="extra-color-3"] p span.open-quote {
			color: #333333!important;
		}
	    .col:hover > [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, body .swiper-slide .button.transparent_2 a.extra-color-3:hover,
		.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered, #sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style),
		.portfolio-filters-inline[data-color-scheme="extra-color-3"], .pricing-table[data-style="flat-alternative"] .pricing-column.extra-color-3:before, .pricing-table[data-style="flat-alternative"] .pricing-column.highlight.extra-color-3 h3 .highlight-reason,  .nectar-button.nectar_video_lightbox[data-color="default-extra-color-3"],  .nectar_video_lightbox.nectar-button[data-color="transparent-extra-color-3"]:hover,
		.testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] .flickity-page-dots .dot.is-selected:before, .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote.is-selected p, .nectar-fancy-box[data-color="extra-color-3"]:after, .divider-small-border[data-color="extra-color-3"], .divider-border[data-color="extra-color-3"], div[data-style="minimal"] .toggle.extra-color-3.open i:after, div[data-style="minimal"] .toggle.extra-color-3:hover i:after, div[data-style="minimal"] .toggle.open.extra-color-3 i:before, div[data-style="minimal"] .toggle.extra-color-3:hover i:before, body .tabbed[data-color-scheme="extra-color-3"][data-style="minimal"] > ul li:not(.cta-button) a:after,
		.nectar-animated-title[data-color="extra-color-3"] .nectar-animated-title-inner:after , .nectar-video-box[data-color="extra-color-3"] a.nectar_video_lightbox, body .nectar-video-box[data-color="extra-color-3"][data-hover="zoom_button"] a.nectar_video_lightbox:after, .nectar_image_with_hotspots[data-stlye="color_pulse"][data-color="extra-color-3"] .nectar_hotspot, .portfolio-filters-inline[data-color-scheme="extra-color-3-underline"] a:after, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-3"]:not([data-draw="true"]) .nectar_icon:hover, .nectar-google-map[data-nectar-marker-color="extra-color-3"] .animated-dot .middle-dot, .nectar-google-map[data-nectar-marker-color="extra-color-3"] .animated-dot div[class*="signal"], .nectar_video_lightbox.play_button_with_text[data-color="extra-color-3"] span.play > .inner-wrap:before,
		.nectar-hor-list-item[data-color="extra-color-3"]:before, .tabbed[data-color-scheme="extra-color-3"][data-style="minimal_alt"] .magic-line, .tabbed[data-style*="material"][data-color-scheme="extra-color-3"] ul:after, .tabbed[data-style*="material"][data-color-scheme="extra-color-3"] ul li a.active-tab,
		.nectar-fancy-box[data-color="extra-color-3"]:not([data-style="default"]) .box-bg:after, body.material[data-button-style^="rounded"] .nectar-button.see-through.extra-color-3[data-color-override="false"] i,
		.nectar-recent-posts-single_featured.multiple_featured .controls[data-color="extra-color-3"] li:after, body.material .nectar-video-box[data-color="extra-color-3"] a.nectar_video_lightbox:before,
		div[data-style="minimal_small"] .toggle.extra-color-3 > h3:after
		{
			background-color: #333333!important;
		}
		
		.nectar_icon_wrap .svg-icon-holder[data-color="extra-color-3"] svg path { stroke:#333333!important; }
		
		body [class^="icon-"].icon-3x.alt-style.extra-color-3, body [class*=" icon-"].icon-3x.alt-style.extra-color-3, .extra-color-3.icon-normal, [class*=" icon-"].extra-color-3.icon-normal, .bar_graph li span.extra-color-3, .nectar-progress-bar span.extra-color-3, .swiper-slide .button.solid_color a.extra-color-3, .swiper-slide .button.solid_color_2 a.extra-color-3, .toggle.open.extra-color-3 h3 a  {
			background-color: #333333!important;
		}
	
		.col:hover > [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered, .col:hover > [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered, .no-highlight.extra-color-3 h3,
		.col:not(.post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered, body .col:not(.post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered {
			color: #333333!important;
		}
		
		body.material[data-button-style^="rounded"] .nectar-button.see-through.extra-color-3[data-color-override="false"] i:after { box-shadow: #333333 0px 8px 15px; opacity: 0.24; }
		.tabbed[data-style*="material"][data-color-scheme="extra-color-3"] ul li a.active-tab:after {  box-shadow: 0px 18px 50px  #333333; }
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-3"]:hover:before { box-shadow: 0 30px 90px #333333; } 
		
		body .col:not(.post-area):not(.span_12):not(#sidebar):hover .extra-color-3.hovered .circle-border, body #sidebar .widget:hover .extra-color-3 .circle-border,
		body .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote .bottom-arrow:after,
		body .dark .testimonial_slider[data-style="multiple_visible"][data-color*="extra-color-3"] blockquote .bottom-arrow:after, div[data-style="minimal"] .toggle.open.extra-color-3 i, div[data-style="minimal"] .toggle.extra-color-3:hover i,
		.nectar_icon_wrap[data-style="border-basic"][data-color="extra-color-3"] .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-3"]:not([data-draw="true"]) .nectar_icon, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-3"][data-draw="true"]:hover .nectar_icon,
		.span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="extra-color-3"] span.play:before, .span_12.dark .nectar_video_lightbox.play_button_with_text[data-color="extra-color-3"] span.play:after { border-color:#333333; }
		
		.pricing-column.highlight.extra-color-3 h3 { background-color:#333333!important; }
		.tabbed[data-color-scheme="extra-color-3"][data-style="default"] li:not(.cta-button) a.active-tab, body.material .nectar-button.see-through.extra-color-3[data-color-override="false"] { border-color:#333333!important; }
		.divider-small-border[data-color="extra-color-gradient-1"], .divider-border[data-color="extra-color-gradient-1"], .nectar-progress-bar span.extra-color-gradient-1,
		.widget ul.nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li a .popular-featured-img:after, .tabbed[data-style*="minimal"][data-color-scheme="extra-color-gradient-1"] >ul li a:after, .tabbed[data-style="minimal_alt"][data-color-scheme="extra-color-gradient-1"] .magic-line,
		.nectar-recent-posts-single_featured.multiple_featured .controls[data-color="extra-color-gradient-1"] li:after, .nectar-fancy-box[data-style="default"][data-color="extra-color-gradient-1"]:after {
			background: #3452ff; 
		    background: linear-gradient(to right, #3452ff, #ff1053); 
		}
		.icon-normal.extra-color-gradient-1,  body [class^="icon-"].icon-3x.alt-style.extra-color-gradient-1, .nectar-button.extra-color-gradient-1:after, .nectar-button.see-through-extra-color-gradient-1:after,
		.nectar_icon_wrap[data-color="extra-color-gradient-1"] i, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-gradient-1"]:before, .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] ul li a:before,
		.tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-1"] ul li a:before, .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-1"] ul li a:before,
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-gradient-1"] .box-bg:after {
			background: #3452ff; 
		    background: linear-gradient(to bottom right, #3452ff, #ff1053); 
		}
		body.material .nectar-button.regular.m-extra-color-gradient-1, body.material .nectar-button.see-through.m-extra-color-gradient-1:before {
			background: #3452ff; 
		   background: linear-gradient(125deg, #3452ff, #ff1053);
		}
		body.material .nectar-button.regular.m-extra-color-gradient-1:before {
			 background: #ff1053; 
		}
		.tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] ul:after { background-color: #ff1053;}
		.tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] ul li a.active-tab:after { box-shadow: 0px 18px 50px #ff1053; }
		
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-gradient-1"]:hover:before { box-shadow: 0px 30px 90px #ff1053; }
		
		.testimonial_slider[data-rating-color="extra-color-gradient-1"] .star-rating .filled:before {
			 color: #3452ff;
			  background: linear-gradient(to right, #3452ff, #ff1053); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
		}

		.nectar-button.extra-color-gradient-1, .nectar-button.see-through-extra-color-gradient-1 {
			 border-width: 3px;
			 border-style: solid;
		    -moz-border-image: -moz-linear-gradient(top right, #3452ff 0%, #ff1053 100%);
		    -webkit-border-image: -webkit-linear-gradient(top right, #3452ff 0%,#ff1053 100%);
		    border-image: linear-gradient(to bottom right, #3452ff 0%, #ff1053 100%);
		    border-image-slice: 1;
		}
		.nectar-gradient-text[data-color="extra-color-gradient-1"][data-direction="horizontal"] * { background-image: linear-gradient(to right, #3452ff, #ff1053);  }
		.nectar-gradient-text[data-color="extra-color-gradient-1"] *, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-gradient-1"] .list-icon-holder[data-icon_type="numerical"] span {
			 color: #3452ff;
			  background: linear-gradient(to bottom right, #3452ff, #ff1053); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: inline-block;
		}
		
		[class^="icon-"][data-color="extra-color-gradient-1"]:before, [class*=" icon-"][data-color="extra-color-gradient-1"]:before,
		[class^="icon-"].extra-color-gradient-1:not(.icon-normal):before, [class*=" icon-"].extra-color-gradient-1:not(.icon-normal):before,
		.nectar_icon_wrap[data-color="extra-color-gradient-1"] i {
			  color: #3452ff;
			  background: linear-gradient(to bottom right, #3452ff, #ff1053); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-1 .hover, .nectar-button.see-through-extra-color-gradient-1 .start {
			  background: #3452ff; 
			  background: linear-gradient(to bottom right, #3452ff, #ff1053); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-1.no-text-grad .hover, .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start {
			 background: transparent!important;
			 color: #3452ff!important; 
		}.divider-small-border[data-color="extra-color-gradient-2"], .divider-border[data-color="extra-color-gradient-2"], .nectar-progress-bar span.extra-color-gradient-2, .tabbed[data-style*="minimal"][data-color-scheme="extra-color-gradient-2"] >ul li a:after,  .tabbed[data-style="minimal_alt"][data-color-scheme="extra-color-gradient-2"] .magic-line,
		.nectar-recent-posts-single_featured.multiple_featured .controls[data-color="extra-color-gradient-2"] li:after, .nectar-fancy-box[data-style="default"][data-color="extra-color-gradient-2"]:after {
			background: #2AC4EA;
		    background: linear-gradient(to right, #2AC4EA, #32d6ff);
		}
		.icon-normal.extra-color-gradient-2, body [class^="icon-"].icon-3x.alt-style.extra-color-gradient-2, .nectar-button.extra-color-gradient-2:after, .nectar-button.see-through-extra-color-gradient-2:after,
		.nectar_icon_wrap[data-color="extra-color-gradient-2"] i, .nectar_icon_wrap[data-style="border-animation"][data-color="extra-color-gradient-2"]:before, .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] ul li a:before,
		.tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-2"] ul li a:before, .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-2"] ul li a:before,
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-gradient-2"] .box-bg:after {
			background: #2AC4EA;
		    background: linear-gradient(to bottom right, #2AC4EA, #32d6ff);
		}
		body.material .nectar-button.regular.m-extra-color-gradient-2,
		body.material .nectar-button.see-through.m-extra-color-gradient-2:before {
			background: #2AC4EA; 
		   background: linear-gradient(125deg, #2AC4EA, #32d6ff);
		}
		body.material .nectar-button.regular.m-extra-color-gradient-2:before {
			 background: #32d6ff; 
		}
		
		.tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] ul:after { background-color: #32d6ff;}
		.tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] ul li a.active-tab:after { box-shadow: 0px 18px 50px #32d6ff; }
		
		.nectar-fancy-box[data-style="color_box_hover"][data-color="extra-color-gradient-2"]:hover:before { box-shadow: 0px 30px 90px #32d6ff; }
		
		.testimonial_slider[data-rating-color="extra-color-gradient-2"] .star-rating .filled:before {
			 color: #2AC4EA;
			  background: linear-gradient(to right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
		}

		.nectar-button.extra-color-gradient-2, .nectar-button.see-through-extra-color-gradient-2 {
			 border-width: 3px;
			 border-style: solid;
		    -moz-border-image: -moz-linear-gradient(top right, #2AC4EA 0%, #32d6ff 100%);
		    -webkit-border-image: -webkit-linear-gradient(top right, #2AC4EA 0%,#32d6ff 100%);
		    border-image: linear-gradient(to bottom right, #2AC4EA 0%, #32d6ff 100%);
		    border-image-slice: 1;
		}
		.nectar-gradient-text[data-color="extra-color-gradient-2"][data-direction="horizontal"] * { background-image: linear-gradient(to right, #2AC4EA, #32d6ff);  }
		.nectar-gradient-text[data-color="extra-color-gradient-2"] *, .nectar-icon-list[data-icon-style="border"][data-icon-color="extra-color-gradient-2"] .list-icon-holder[data-icon_type="numerical"] span {
			 color: #2AC4EA;
			  background: linear-gradient(to bottom right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: inline-block;
		}

		[class^="icon-"][data-color="extra-color-gradient-2"]:before, [class*=" icon-"][data-color="extra-color-gradient-2"]:before,
		[class^="icon-"].extra-color-gradient-2:not(.icon-normal):before, [class*=" icon-"].extra-color-gradient-2:not(.icon-normal):before,
		.nectar_icon_wrap[data-color="extra-color-gradient-2"] i {
			  color: #2AC4EA; 
			  background: linear-gradient(to bottom right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-2 .hover, .nectar-button.see-through-extra-color-gradient-2 .start {
			  background: #2AC4EA; 
			  background: linear-gradient(to bottom right, #2AC4EA, #32d6ff); 
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: transparent;
			  background-clip: text;
			  text-fill-color: transparent;
			  display: initial; 
		}
		.nectar-button.extra-color-gradient-2.no-text-grad .hover, .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start {
			background: transparent!important;
			color: #2AC4EA!important; 
		}

		html .container-wrap, .material .ocm-effect-wrap, .project-title, html .ascend .container-wrap, html .ascend .project-title, html body .vc_text_separator div, html .carousel-wrap[data-full-width="true"] .carousel-heading, html .carousel-wrap span.left-border, html .carousel-wrap span.right-border, .single-post.ascend #page-header-bg.fullscreen-header, .single-post #single-below-header.fullscreen-header,
			html #page-header-wrap, html .page-header-no-bg, html #full_width_portfolio .project-title.parallax-effect, html .portfolio-items .col, html .page-template-template-portfolio-php .portfolio-items .col.span_3, html .page-template-template-portfolio-php .portfolio-items .col.span_4 
		{ background-color: #f5f5f5; }#call-to-action { background-color:#ECEBE9!important; }#call-to-action span { color:#4B4F52!important; }body #slide-out-widget-area-bg { background-color: rgba(0,0,0,0.8); }#nectar_fullscreen_rows { background-color: #333333; }

		  @media only screen and (min-width: 1001px) {
			  body.material #header-outer #logo, body.material #header-outer .logo-spacing { margin-top: 28px; margin-bottom: 28px; position: relative; }
			  body.material #header-outer.small-nav #logo, body.material #header-outer.small-nav .logo-spacing { margin-top: 15.555555555556px; margin-bottom: 15.555555555556px; } 
			  body.material #header-outer.small-nav #logo img, body.material #header-outer.small-nav .logo-spacing img { height: 54px; } 

			  .material #header-outer:not(.transparent) .bg-color-stripe { top: 116px; height: calc(35vh - 116px); }
			  .material #header-outer:not(.transparent).small-nav .bg-color-stripe { top: 85.111111111111px; height: calc(35vh - 85.111111111111px); }
		  }
		  @media only screen and (max-width: 1000px) {
		  	.material #header-outer:not([data-permanent-transparent="1"]):not(.transparent) .bg-color-stripe, .material #header-outer:not([data-permanent-transparent="1"]).transparent .bg-color-stripe { top: 48px; height: calc(30vh - 48px); }
		  }

		  body:not(.material) #header-outer, .ascend #header-outer[data-full-width="true"][data-using-pr-menu="true"] header#top nav ul.buttons li.menu-item, .ascend #header-outer[data-full-width="true"][data-format="centered-menu"] header#top nav ul.buttons li#social-in-menu { padding-top: 28px; }

		  body:not(.material) #header-outer[data-format="centered-menu-under-logo"] .span_3 { padding-bottom: 28px; }
		  
		  #header-outer #logo img, body.material #header-outer .logo-spacing img { height: 60px; }.ascend #header-outer[data-full-width="true"] header#top nav > ul.buttons { margin-top: -28px; }body:not(.material) header#top nav > ul > li:not(#social-in-menu) > a {
			  	padding-bottom: 45px;
				padding-top: 17px;
			  }
			   body:not(.material) header#top nav > ul > li#social-in-menu > a {
			   	margin-bottom: 45px;
				margin-top: 17px;
			   }
			  body:not(.material) #header-outer .cart-menu {
		 		padding-bottom: 47px;
				padding-top: 47px;
			 }body:not(.material) header#top nav > ul li#search-btn, header#top nav > ul li.slide-out-widget-area-toggle {
		  	 padding-bottom: 17px;
			 padding-top: 18px;
		  }

		 body:not(.material) header#top .sf-menu > li.sfHover > ul { top: 25px; }

		 .sf-sub-indicator { height: 20px; }

		 #header-outer[data-lhe="animated_underline"] header#top nav > ul > li > a,
		 header#top nav > ul > li[class*="button_solid_color"] > a, 
		 body #header-outer:not([data-lhe="animated_underline"]) header#top nav ul li[class*="button_solid_color"] a:hover,
		 #header-outer[data-lhe="animated_underline"] header#top nav > ul > li[class*="button_bordered"] > a,
		 header#top nav > ul > li[class*="button_bordered"] > a, body #header-outer.transparent header#top nav > ul > li[class*="button_bordered"] > a,
		 body #header-outer.transparent header#top nav > ul > li[class*="button_solid_color"] > a, 
		 #header-outer[data-lhe="animated_underline"] header#top nav > ul > li[class*="button_solid_color"] > a { margin-left: 10px; margin-right: 10px; }
		 #header-outer[data-lhe="default"] header#top nav > ul > li > a { padding-left: 10px; padding-right: 10px; }
		 #header-space { height: 116px;}
	 
	 body[data-smooth-scrolling="1"] #full_width_portfolio .project-title.parallax-effect { top: 116px; }
	 
	 body.single-product div.product .product_title { padding-right:0px; } #ajax-loading-screen .reveal-1 { background-color: #ffffff; }#ajax-loading-screen .reveal-2 { background-color: #ffffff; }@media only screen and (max-width: 1000px) { 
	 	body header#top #logo img, #header-outer[data-permanent-transparent="false"] #logo .dark-version { 
	 		height: 24px!important; 
	 	} 
	 	body:not(.material) header#top .col.span_9 {
	 		min-height: 50px; 
	 		line-height: 28px; 
	 	}
	 }body #header-outer, body[data-header-color="dark"] #header-outer { background-color: rgba(255,255,255,100); }.material #header-outer:not(.transparent) .bg-color-stripe { display: none; } .nectar-slider-loading .loading-icon, .portfolio-loading, #ajax-loading-screen .loading-icon, .loading-icon, .pp_loaderIcon { background-image: url(""); } @media only screen and (min-width: 1000px) and (max-width: 1300px) {
	    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
	    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 45px!important;
			line-height: 51px!important;
		}

		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
	    .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 18px!important;
			line-height: 31.2px!important;
		}
	}
	
	@media only screen and (min-width : 690px) and (max-width : 1000px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 33px!important;
			line-height: 39px!important;
		}

		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
	    .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 13.2px!important;
			line-height: 24px!important;
		}
	}
	
	@media only screen and (max-width : 690px) {
		.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content h2,
	    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content h2 {
			font-size: 15px!important;
			line-height: 21px!important;
		}

		.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"]  .swiper-slide .content p, 
	    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content p {
			font-size: 10px!important;
			line-height: 17.52px!important;
		}
	}
	#mobile-menu #mobile-search, header#top nav ul #search-btn {
			   display: none!important;
			}.loading-icon .material-icon .bar:after { background-color: #258c1c; }
			  .loading-icon .material-icon .bar { border-color: #258c1c;}
			  .loading-icon .material-icon .color-2 .bar:after { background-color: #5bdd2c; }
			  .loading-icon .material-icon .color-2 .bar { border-color: #5bdd2c;}@media only screen and (min-width: 1000px) {
			
			    .container, body[data-header-format="left-header"] .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots, .post-area.standard-minimal.full-width-content article.post .inner-wrap, .material #search-outer #search  {
			      max-width: 1425px; 
				  width: 100%;
				  margin: 0 auto;
				  padding: 0px 90px; 
			    } 

			    body[data-header-format="left-header"] .container, body[data-header-format="left-header"] .woocommerce-tabs .full-width-content .tab-container, body[data-header-format="left-header"] .nectar-recent-posts-slider .flickity-page-dots,
			    body[data-header-format="left-header"] .post-area.standard-minimal.full-width-content article.post .inner-wrap {
			    	padding: 0 60px;
			    }

			    body .container .page-submenu.stuck .container:not(.tab-container):not(.normal-container), .nectar-recent-posts-slider .flickity-page-dots,
			    #nectar_fullscreen_rows[data-footer="default"] #footer-widgets .container, #nectar_fullscreen_rows[data-footer="default"] #copyright .container {
			    	  padding: 0px 90px!important; 
			    }	
				
				.swiper-slide .content {
				  padding: 0px 90px; 
				}

				body[data-header-format="left-header"] .container .page-submenu.stuck .container:not(.tab-container),  body[data-header-format="left-header"] .nectar-recent-posts-slider .flickity-page-dots {
			    	  padding: 0px 60px!important; 
			    }	
				
				body[data-header-format="left-header"] .swiper-slide .content {
				  padding: 0px 60px; 
				}
				
				body .container .container:not(.tab-container):not(.recent-post-container):not(.normal-container) {
					width: 100%!important;
					padding: 0!important;
				}
				
				
				body .carousel-heading .container {
					padding: 0 10px!important;
				}
				body .carousel-heading .container .carousel-next { right: 10px; } body .carousel-heading .container .carousel-prev { right: 35px; }
				.carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link { left: 90px; }
				.carousel-wrap[data-full-width="true"] .carousel-heading { margin-left: -20px; margin-right: -20px; }
				.carousel-wrap[data-full-width="true"] .carousel-next { right: 90px!important; } .carousel-wrap[data-full-width="true"] .carousel-prev { right: 115px!important; }
				.carousel-wrap[data-full-width="true"] { padding: 0!important; }
				.carousel-wrap[data-full-width="true"] .caroufredsel_wrapper { padding: 20px!important; }
				
				#search-outer #search #close a {
					right: 90px;
				}
	
	
				#boxed, #boxed #header-outer, #boxed #header-secondary-outer, #boxed #slide-out-widget-area-bg.fullscreen, #boxed #page-header-bg[data-parallax="1"], #boxed #featured, body[data-footer-reveal="1"] #boxed #footer-outer, #boxed .orbit > div, #boxed #featured article, .ascend #boxed #search-outer {
				   max-width: 1400px!important;
				   width: 90%!important;
				   min-width: 980px;
				}

				body[data-hhun="1"] #boxed #header-outer:not(.detached), body[data-hhun="1"] #boxed #header-secondary-outer {
					width: 100%!important;
				}


				#boxed #search-outer #search #close a {
					right: 0!important;
				}

				#boxed .container {
				  width: 92%;
				  padding: 0;
			    } 
				
				#boxed #footer-outer #footer-widgets, #boxed #footer-outer #copyright {
					padding-left: 0;
					padding-right: 0;
				}

				#boxed .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link { left: 35px; }
				#boxed .carousel-wrap[data-full-width="true"] .carousel-next { right: 35px!important; } #boxed .carousel-wrap[data-full-width="true"] .carousel-prev { right: 60px!important; }

				
			 }@media only screen and (min-width: 1000px) { .container, body[data-header-format="left-header"] .container, .woocommerce-tabs .full-width-content .tab-container, .nectar-recent-posts-slider .flickity-page-dots, .post-area.standard-minimal.full-width-content article.post .inner-wrap, .material #search-outer #search { max-width: 1425px; } }.pagination-navigation { -webkit-filter: url("#goo"); filter: url("#goo"); }	
	body, .toggle h3 a, body .ui-widget, table, .bar_graph li span strong, #slide-out-widget-area .tagcloud a, body .container .woocommerce-message a.button, #search-results .result .title span, .woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3, .row .col.section-title .nectar-love span, body .nectar-love span, body .nectar-social .nectar-love .nectar-love-count, body .carousel-heading h2, .sharing-default-minimal .nectar-social .social-text, body .sharing-default-minimal .nectar-love, .widget ul.nectar_widget[class*="nectar_blog_posts_"] > li .post-date
	{		font-family: Open Sans;font-size:18px;		
		line-height:25px;
		font-weight:300;			}.bold, strong, b { font-family: Open Sans; font-weight: 600; } .single #single-below-header span { font-family: Open Sans;  }.nectar-fancy-ul ul li .icon-default-style[class^="icon-"] {line-height:25px!important;}	
	
		
	header#top nav > ul > li > a, body.material #search-outer #search input[type="text"]
	{	
		font-family: Open Sans;font-size:18px;	
		line-height:25.2px;		font-weight:600;			}header#top nav > ul > li[class*="button_solid_color"] > a:before, #header-outer.transparent header#top nav > ul > li[class*="button_solid_color"] > a:before { 
	    		height: 30px; 
	    	}header#top nav > ul > li[class*="button_bordered"] > a:before, #header-outer.transparent header#top nav > ul > li[class*="button_bordered"] > a:before { 
	    		height: 40px; 
	    	}	
	
	
	
		
	header#top .sf-menu li ul li a, #header-secondary-outer nav > ul > li > a, #header-secondary-outer ul ul li a, #header-outer .widget_shopping_cart .cart_list a
	{	
		font-family: Open Sans;font-size:16px;			
		line-height:18px;		font-weight:400;			}	
	
	@media only screen 
	and (min-width : 1px) and (max-width : 1000px) 
	{
	  header#top .sf-menu a {
	  	font-family: Open Sans!important;
	  	font-size: 14px!important;
	  }
	}	
	
		
	#page-header-bg h1, body h1, body .row .col.section-title h1, .full-width-content .nectar-recent-posts-slider .recent-post-container .inner-wrap h2
	{	
		font-family: Raleway;font-size:36px;	
		line-height:50px;		font-weight:600;			}	

	
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		body .row .col.section-title h1, body h1, .full-width-content .recent-post-container .inner-wrap h2 {
			font-size: 27px;
			line-height: 37.5px;
		}
	}
	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		body .row .col.section-title h1, body h1 {
			font-size: 25.2px;
			line-height: 35px;
		}
		.full-width-content .recent-post-container .inner-wrap h2 {
			font-size: 25.2px;
			line-height: 35px;
		}
	}
	@media only screen and (max-width: 690px) {
		body .row .col.section-title h1, body h1 {
			font-size: 23.4px;
			line-height: 32.5px;
		}

	}
	
	
		
	#page-header-bg h2, body h2, article.post .post-header h2, article.post.quote .post-content h2, article.post.link .post-content h2, article.post.format-status .post-content h2,
	#call-to-action span, .woocommerce .full-width-tabs #reviews h3, .row .col.section-title h2, .nectar_single_testimonial[data-style="bold"] p
	{	
		font-family: Raleway;font-size:24px;	
		line-height:30px;
		font-weight:600;			}

	
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
	 	body h2 {
	 		font-size: 20.4px;
			line-height: 25.5px;
		}
		.row .span_2 h2, .row .span_3 h2, .row .span_4 h2, .row .vc_col-sm-2 h2, .row .vc_col-sm-3 h2, .row .vc_col-sm-4 h2 { 
			font-size: 16.8px;
			line-height: 21px;
		}
	}

	@media only screen and (max-width: 1000px) and (min-width: 690px) {
	.col h2, h2 {
			font-size: 19.2px;
			line-height: 24px;
		}
	}

	@media only screen and (max-width: 690px) {
	.col h2, h2 {
			font-size: 18px;
			line-height: 22.5px;
		}
	}
	
	
		
	body h3, .row .col h3, .toggle h3 a, .ascend #respond h3, .ascend h3#comments, .woocommerce ul.products li.product.text_on_hover h3, 
	.masonry.classic_enhanced .masonry-blog-item h3.title, .woocommerce ul.products li.product.material h3, .woocommerce-page ul.products li.product.material h3, .portfolio-items[data-ps="8"] .col h3,
	.nectar-hor-list-item[data-font-family="h3"], .woocommerce ul.products li.product h2
	{	
		font-family: Raleway;font-size:20px;	
		line-height:26px;
		font-weight:600;			}	
	@media only screen and (min-width: 1000px) {
		.ascend .comments-section .comment-wrap.full-width-section > h3, .blog_next_prev_buttons[data-post-header-style="default_minimal"] .col h3 {
			font-size: 34px!important;
			line-height: 42px!important;
		}

		.masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
			font-size: 30px!important;
			line-height: 39px!important;
		}
	}

	@media only screen and (min-width: 1300px) and (max-width: 1500px){
		body .portfolio-items.constrain-max-cols.masonry-items .col.elastic-portfolio-item h3 {
			font-size: 17px!important;
			line-height: 22.1px;
		}
	}


	
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		.row .span_2 h3, .row .span_3 h3, .row .span_4 h3, .row .vc_col-sm-2 h3, .row .vc_col-sm-3 h3, .row .vc_col-sm-4 h3, .row .col h3, body h3 {
			font-size: 17px;
			line-height: 22.1px;
		}
	}

	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		.row .span_2 h3, .row .span_3 h3, .row .span_4 h3, .row .vc_col-sm-2 h3, .row .vc_col-sm-3 h3, .row .vc_col-sm-4 h3, .row .col h3, body h3 {
			font-size: 16px;
			line-height: 20.8px;
		}
	}

	@media only screen and (max-width: 690px) {
		.row .span_2 h3, .row .span_3 h3, .row .span_4 h3, .row .vc_col-sm-2 h3, .row .vc_col-sm-3 h3, .row .vc_col-sm-4 h3, .row .col h3, body h3 {
			font-size: 16px;
			line-height: 20.8px;
		}
	}

	
		
	body h4, .row .col h4, .portfolio-items .work-meta h4, .list-icon-holder[data-icon_type="numerical"] span, .portfolio-items .col.span_3 .work-meta h4, #respond h3, .blog-recent.related-posts h3.title, h3#comments, .portfolio-items[data-ps="6"] .work-meta h4,
	.nectar-hor-list-item[data-font-family="h4"], .toggles[data-style="minimal_small"] .toggle > h3 a
	{	
		font-family: Raleway;font-size:18px;	
		line-height:18px;		font-weight:600;			}	
	@media only screen and (min-width: 690px) {
		.portfolio-items[data-ps="6"] .wide_tall .work-meta h4 {
			font-size: 30.6px!important;
			line-height: 38.6px!important;
		}

		.nectar-slide-in-cart .widget_shopping_cart .cart_list .mini_cart_item > a:not(.remove) {
			font-family: Raleway!important;font-weight:600!important;		}

	}


	
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		.row .col h4, body h4 {
			font-size: 18px;
			line-height: 18px;
		}
	}

	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		.row .col h4, body h4 {
			font-size: 18px;
			line-height: 18px;
		}
	}

	@media only screen and (max-width: 690px) {
		.row .col h4, body h4 {
			font-size: 16.2px;
			line-height: 16.2px;
		}
	}
	
		
	body h5, .row .col h5, .portfolio-items .work-item.style-3-alt p, .nectar-hor-list-item[data-font-family="h5"]
	{	
			
							}


	body .wpb_column > .wpb_wrapper > .morphing-outline .inner > h5 {
		font-size: ;
	}
	

	
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		.row .col h5, body h5 {
			font-size: 16px;
			line-height: 26px;
		}
	}

	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		.row .col h5, body h5 {
			font-size: 16px;
			line-height: 26px;
		}
	}

	@media only screen and (max-width: 690px) {
		.row .col h5, body h5 {
			font-size: 16px;
			line-height: 26px;
		}
	}

		
	body h6, .row .col h6, .nectar-hor-list-item[data-font-family="h6"]
	{	
			
							}
	
	
	
	@media only screen and (max-width: 1300px) and (min-width: 1000px) {
		.row .col h6, body h6 {
			font-size: 14px;
			line-height: 24px;
		}
	}

	@media only screen and (max-width: 1000px) and (min-width: 690px) {
		.row .col h6, body h6 {
			font-size: 14px;
			line-height: 24px;
		}
	}

	@media only screen and (max-width: 690px) {
		.row .col h6, body h6 {
			font-size: 14px;
			line-height: 24px;
		}
	}
	


		
	body i, body em, .masonry.meta_overlaid article.post .post-header .meta-author > span, .post-area.masonry.meta_overlaid article.post .post-meta .date,
	.post-area.masonry.meta_overlaid article.post.quote .quote-inner .author, .post-area.masonry.meta_overlaid  article.post.link .post-content .destination,
	body .testimonial_slider[data-style="minimal"] blockquote span.title
	{	
		font-family: Open Sans;	
							}

		
	form label, .woocommerce-checkout-review-order-table .product-info .amount, .woocommerce-checkout-review-order-table .product-info .product-quantity,
	.nectar-progress-bar p, .nectar-progress-bar span strong i, .nectar-progress-bar span strong, .testimonial_slider:not([data-style="minimal"]) blockquote span,  .woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__rendered, .woocommerce-ordering .select2-container .select2-choice>.select2-chosen,
	.tabbed[data-style="minimal_alt"] > ul li a, .material .widget .nectar_widget[class*="nectar_blog_posts_"] > li .post-title, body.material .tagcloud a, .material .widget li a, .nectar-recent-posts-slider_multiple_visible .recent-post-container.container .strong a,  .material .recentcomments .comment-author-link,
	.single .post-area .content-inner > .post-tags a,  .masonry.material .masonry-blog-item .grav-wrap a, .nectar-recent-posts-single_featured .grav-wrap a, .masonry.material .masonry-blog-item .meta-category a, .post-area.featured_img_left article .meta-category a, .post-area.featured_img_left article .grav-wrap .text a, .related-posts[data-style="material"] .meta-category a, 
	.masonry.auto_meta_overlaid_spaced article.post.quote .author, .masonry.material article.post.quote .author, 
	.material .tabbed >ul li a, .post-area.featured_img_left article.post.quote .author, .related-posts[data-style="material"] .grav-wrap .text a, .auto_meta_overlaid_spaced .masonry-blog-item .meta-category a, [data-style="list_featured_first_row"] .meta-category a, .nectar-recent-posts-single_featured .strong a, .nectar-recent-posts-single_featured.multiple_featured .controls li .title
	{	
		font-family: Open Sans;	
							}



		
	.portfolio-filters-inline .container > ul a, .portfolio-filters > ul a, .portfolio-filters > a span
	{	
			
							}
	


		
	.portfolio-items .col p, .container-wrap[data-nav-pos="after_project_2"] .bottom_controls li span:not(.text)
	{	
			
							}


		
	.nectar-dropcap
	{	
			
							}


		
	body #sidebar h4, body .widget h4, body #footer-outer .widget h4
	{	
			
							}
	
		
	body #page-header-bg h1, html body .row .col.section-title h1, .nectar-box-roll .overlaid-content h1
	{	
		font-family: Raleway;font-size:36px;	
		line-height:42px;		font-weight:600;			}
	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		#page-header-bg .span_6 h1, .overlaid-content h1 {
			font-size: 25.2px!important;
			line-height: 29.2px!important;
		}
	}

	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		#page-header-bg .span_6 h1, .nectar-box-roll .overlaid-content h1 {
			font-size: 30.6px;
			line-height: 35.7px;
		}
	}

	@media only screen and (min-width: 1300px) and (max-width: 1500px) {
		#page-header-bg .span_6 h1, .nectar-box-roll .overlaid-content h1 {
			font-size: 32.4px;
			line-height: 37.8px;
		}
	}

	@media only screen and (max-width: 690px) {
		#page-header-bg.fullscreen-header .span_6 h1, .overlaid-content h1 {
			font-size: 16.2px!important;
			line-height: 18.9px!important;
		}
	}


		
	body #page-header-bg .span_6 span.subheader,  body .row .col.section-title > span, .nectar-box-roll .overlaid-content .subheader
	{	
		font-family: Raleway;font-size:32px;	
		line-height:36px;		font-weight:600;			}	
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		body #page-header-bg:not(.fullscreen-header) .span_6 span.subheader,  body .row .col.section-title > span {
			font-size: 25.6px;
			line-height: 28.8px;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body #page-header-bg.fullscreen-header .span_6 span.subheader, .overlaid-content .subheader {
			font-size: 28.8px!important;
			line-height: 32.4px!important;
		}

					#page-header-bg .span_6 span.subheader {
		  		font-size: 22px!important;
		  	} 
	  		}

	@media only screen and (max-width: 690px) {
		body #page-header-bg.fullscreen-header .span_6 span.subheader, .overlaid-content .subheader {
			font-size: 22.4px!important;
			line-height: 25.2px!important;
		}

					#page-header-bg .span_6 span.subheader {
		  		font-size: 15px!important;
		  	}
	  		}



		
	body #slide-out-widget-area .inner .off-canvas-menu-container li a, body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
	body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a, body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a, body #nectar-ocm-ht-line-check 
	{	
			
							}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
		body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a  {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
		body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
			font-size: ;
			line-height: ;
		}
	}

	



		
	#slide-out-widget-area .menuwrapper li small
	{	
			
							}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		#slide-out-widget-area .menuwrapper li small {
			font-size: ;
			line-height: ;
		}
	}

	@media only screen and (max-width: 690px) {
		#slide-out-widget-area .menuwrapper li small {
			font-size: ;
			line-height: ;
		}
	}

	
		
	.swiper-slide .content h2
	{		font-family: Raleway;letter-spacing: 1px;font-size:50px;	
		line-height:70px;
		font-weight:600;			}
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 40px!important;
			line-height: 56px!important;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 30px!important;
			line-height: 42px!important;
		}
	}

	@media only screen and (max-width: 690px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2, 
		body .full-width-content .vc_span12 .swiper-slide .content h2 {
			font-size: 25px!important;
			line-height: 35px!important;
		}
	}
	
	
		
	#featured article .post-title h2 span, .swiper-slide .content p, #portfolio-filters-inline #current-category, body .vc_text_separator div
	{	
		font-family: Open Sans;font-size:24px;	
		line-height:30px;		font-weight:400;			}	
	
	#portfolio-filters-inline ul { line-height: 43px!important; }.swiper-slide .content p.transparent-bg span { 	     line-height:49px;	}
	@media only screen and (min-width: 1000px) and (max-width: 1300px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		.full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 19.2px!important;
			line-height: 24px!important;
		}
	}

	@media only screen and (min-width: 690px) and (max-width: 1000px) {
		.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		.full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 16.8px!important;
			line-height: 21px!important;
		}
	}

	@media only screen and (max-width: 690px) {
		body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p, 
		body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p, 
		body .full-width-content .vc_span12 .swiper-slide .content p {
			font-size: 16.8px!important;
			line-height: 21px!important;
		}
	}



		
	.testimonial_slider blockquote, .testimonial_slider blockquote span, .testimonial_slider[data-style="minimal"] blockquote span:not(.title), .testimonial_slider[data-style="minimal"] blockquote,  blockquote, .testimonial_slider[data-style="minimal"] .controls
	{	
			
							}	
	
	

	
	
		
	#footer-outer .widget h4, #sidebar h4, #call-to-action .container a, .uppercase, .nectar-button, .nectar-button.medium, .nectar-button.small, .nectar-3d-transparent-button, body .widget_calendar table th, body #footer-outer #footer-widgets .col .widget_calendar table th, .swiper-slide .button a,
	body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > a, .carousel-heading h2, body .gform_wrapper .top_label .gfield_label, body .vc_pie_chart .wpb_pie_chart_heading, #infscr-loading div, #page-header-bg .author-section a, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .ascend input[type="submit"], .ascend button[type="submit"],
	.widget h4, .text-on-hover-wrap .categories a, .text_on_hover.product .add_to_cart_button, .woocommerce-page .single_add_to_cart_button, .woocommerce div[data-project-style="text_on_hover"]  .cart .quantity input.qty, .woocommerce-page #respond input#submit,
	.meta_overlaid article.post .post-header h2, .meta_overlaid article.post.quote .post-content h2, .meta_overlaid article.post.link .post-content h2, .meta_overlaid article.post.format-status .post-content h2, .meta_overlaid article .meta-author a, .pricing-column.highlight h3 .highlight-reason,
	.blog-recent[data-style="minimal"] .col > span, body .masonry.classic_enhanced .posts-container article .meta-category a,  body .masonry.classic_enhanced .posts-container article.wide_tall .meta-category a, .blog-recent[data-style*="classic_enhanced"] .meta-category a, .nectar-recent-posts-slider .container .strong,  body.material #page-header-bg.fullscreen-header .inner-wrap >a, #page-header-bg[data-post-hs="default_minimal"] .inner-wrap > a, .single .heading-title[data-header-style="default_minimal"] .meta-category a, .nectar-fancy-box .link-text,
	 .post-area.standard-minimal article.post .post-meta .date a, .post-area.standard-minimal article.post .more-link span, .nectar-slide-in-cart .widget_shopping_cart .buttons a, .material.product .product-wrap .product-add-to-cart a .price .amount,  .material.product .product-wrap .product-add-to-cart a span, ul.products li.material.product  span.onsale,
	body[data-button-style="rounded"] #pagination > a, html body #pagination > span, .woocommerce nav.woocommerce-pagination ul li a, html body nav.woocommerce-pagination ul li a, html body nav.woocommerce-pagination ul li span, .woocommerce .material.product .product-wrap .product-add-to-cart a.added_to_cart,
	.woocommerce-page ul.products li.product.material .price, .woocommerce-page ul.products li.product.material .price ins span, body[data-form-submit="see-through-2"] input[type=submit], body[data-form-submit="see-through-2"] button[type=submit], body[data-form-submit="see-through"] input[type=submit], body[data-form-submit="see-through"] button[type=submit], 
	 body[data-form-submit="regular"] input[type=submit] body[data-form-submit="regular"] button[type=submit], .nectar_team_member_overlay .team_member_details .title, body:not([data-header-format="left-header"]) header#top nav > ul > li.megamenu > ul > li > ul > li.has-ul > a, .nectar_fullscreen_zoom_recent_projects .project-slide .project-info .normal-container > a,
	 .nectar-hor-list-item .nectar-list-item-btn
	{	
						
		font-weight: normal;
			}	
	

	
		
	.team-member h4, .row .col.section-title p, .row .col.section-title span, #page-header-bg .subheader, .nectar-milestone .subject, .testimonial_slider blockquote span 
	{	
				
							
	}	
	
	article.post .post-meta .month { line-height:-6px!important; }